@model CompanyDirectoryDF.Models.WebURLWebLocation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebURLWebLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Directory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebLocation.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebLocation.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebURL.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebURL.URL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
